@{
    ViewBag.Title = "Index";
}

<section>
    <article>
        <h3>New expense</h3>
        <div>
            Amount <input type="text" id="txtAmount"/>
            Reason <input type="text" id="txtReason" />
            <input type="button" value="save" />
        </div>
    </article>
</section>
<section>
    <article>
        <h3>Expense history</h3>
        <ul>
            <li>July 9th, 2015 - $50 - "Lunch money"</li>
            <li>July 9th, 2015 - $50 - "Lunch money"</li>
            <li>July 9th, 2015 - $50 - "Lunch money"</li>
            <li>July 9th, 2015 - $50 - "Lunch money"</li>
        </ul>
    </article>
</section>